$body-bg: $white;
$body-font: 'Poppins', sans-serif, $font-family-sans-serif;
$textbox-default-radius: 3px;
$textbox-default-outline: #cecece;
$primary : #6fbc78;
$secondary : #ffffff;
$text-color-1 : #8695b1;
$text-color-2 : #000000;
$text-color-3 : #1c2b48;
$text-color-4 : #394e74;
$text-color-5 : #9a9a9a;
$text-color-6 : #b9c4d8;
$text-color-7 : #3d557e;
$text-color-8 : #405579;
$text-color-9 : #b9c1cf;
$text-color-10 : #2c3a55;
$text-color-11 : #84c68c;
$text-color-12 : #a1acbf;
$text-color-13 : #353535;
$text-color-14 : #5d6f8d;
$text-color-15 : #adadad;
$text-color-16 : #495057;
$text-color-17 : #bcc4d4;
$text-color-18 : #3e5378;
$text-color-19 : #8e94a0;
$text-color-20 : #041b45;
$text-color-21 : #858585;
$text-color-22 : #0f2245;
$text-color-23 : #aab4c9;
$text-color-24 : #212529;
$text-color-25 : #4a566e;
$text-color-26 : #7182a0;
$text-color-27 : #bebebe;
$border-color-1 : #e50000;
$border-color-2 : #8b8b8b;
$border-color-3 : #cecece;
$border-color-4 : #a5aebf;
$border-color-5 : #dfdfdf;
$border-color-6 : #c6e4ca;
$border-color-7 : #ebedf1;
$border-color-8 : #c6d1e5;
$border-color-9 : #cccccc;
$border-color-10 : #a7a7a7;
$border-color-11 : #f2f3f6;
$border-color-12 : #dee2e6;
$border-color-13 : #cfcfcf;
$bg-color-1: #fdf7eb;
$bg-color-2: #eff2f7;
$bg-color-3: #667795;
$bg-color-4: #6fbc78;
$bg-color-5: #f2f2f2;
$bg-color-6: #e7e9eb;
$bg-color-7: #5aaa64;
$bg-color-8: #2b2b2b;
$bg-color-9: #ecedef;
$bg-color-10 : #f2f4f8;
$bg-color-11 : #dadada;
$bg-color-12 : #f8f9fa;
$bg-color-13 : #697895;
$bg-color-14 : #f2f5fa;
$bg-color-15 : #edfbff;
$bg-color-16 : #f5f6f8;
$bg-color-17 : #dee8df;
$bg-color-18 : #005bd6;
$bg-color-19 : #626262;
$bg-color-20 : #f5f5f5;
$bg-color-21 : #e6ffea;
$color-1: #f59700;
$color-2: #01b516;
$color-3: #0878fa;
$color-4: rgba(0, 0, 0, 0.9);
$color-5: rgba(0, 0, 0, 0.16);
$color-6: rgba(0, 0, 0, 0.05);
$color-7: rgba(96, 103, 115, 0.5);
$color-8: rgba(116, 123, 138, 0.8);
$color-9: rgb(223, 223, 223);
$color-10: rgba(0, 0, 0, 0.06);
$color-11: rgba(0, 0, 0, 0.2);
$color-12: rgba(229, 205, 192, 0.27);


